@import url("../../../assets/theme/palette.css");

.currency-input {
  border: none;
  border-bottom: 2px solid var(--secondary-gray);
  font-size: 16px;
  width: 100%;
  padding: 3px 14px;
}

.currency-input:focus {
  outline: none;
}

.currency-text {
  position: relative;
}

.currency-text label, .currency-text:focus-within label {
  visibility: visible;
  font-size: 12px;
  line-height: 1.4em;
  color: var(--secondary-gray);
  position: absolute;
  top: 10px;
}

.currency-text input::placeholder {
  color: transparent;
}

.currency-symbol {
  position: absolute;
  bottom: 16px;
}