.notifications-container {
  width: 50%;
}

.notifications-container h4 {
  margin-bottom: 20px;
}

.notification-description {
  line-height: 20px;
  font-size: 14px;
}

.email-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 200%;
}

.email-button {
  min-width: 150px;
  height: 50px;
  margin: 17px 30px 0px;
  align-self: center;
  justify-self: start;
}

.email-input-container.notification-container {
  position: relative;
}

.change-email {
  min-width: 48px;
  min-height: 48px;
  position: absolute;
  top: 7px;
  right: -110px;
}

.toggle-block {
  display: flex;
  width: 80%;
  padding: 20px 0;
  justify-content: space-between;
}

.notification-modal {
  width: 582px;
  padding: 40px 106px 60px;
}
