@import "../../../../../shared/assets/scss/variables.module.scss";

.logo_currency {
  width: 24px;
  height: 18px;
}

.name_currency {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-left: 4px;
  color: $primary_text_2;
  @media screen and (max-width: 375px) {
    font-size: 14px;
    line-height: 16px;
  }
}

.value_currency {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  margin-left: 12px;
  @media screen and (max-width: 375px) {
    font-size: 16px;
    line-height: 19px;
  }
}

.current_account_data {
  display: flex;
  align-items: center;
}

.current_value_block {
  margin-top: 15px;
}