@import "../../assets/scss/variables.module.scss";

.wrapper {
  width: 428px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary_white;
  border: 1px solid $secondary_light_gray;
  border-radius: 8px;
  @media screen and (max-width: 375px) {
    height: 220px;
    width: 303px;
    padding: 20px 0 0;
  }
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin: 20px 0;
}

.description {
  font-size: 14px;
  text-align: center;
  line-height: 19px;
  padding: 0 50px;
  @media screen and (max-width: 375px) {
    padding: 0 20px;
  }
}
