@import url("../../assets/theme/palette.css");

.no-client-error_non_active {
  display: none;
}

.no-client-error_active {
  display: block;
}

.recovery-modal {
  padding: 60px 45px 45px 45px;
}

.passport-number-notification {
  padding: 8px 12px;
  margin-top: 20px;
  margin-bottom: 28px;
  color: var(--primary-dark-gray);
  background: var(--secondary-light-gray);
  font-size: 12px;
  line-height: 16px;
}

.passport-recovery-input {
  color: var(--secondary-gray) !important;
}
