.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 23px;
  width: 368px;
  height: 258px;
  background-color: var(--primary-white);
}

.title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 20px;
  color: var(--secondary-middle-gray);
  font-style: normal;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}

.icon_pic {
  margin: 0 auto;
}

.button_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  width: 152px;
  font-size: 16px;
}

.greyButton {
  background-color: var(--secondary-hover-gray);
}
