.dropdown_wrapper {
    box-sizing: border-box;
    width: 175px;
    min-height: 48px;
    font-size: 16px;
    line-height: 1.5em;
    position: relative;
  }
  
  .dropdown_label {
    display: block;
    font-size: 14px;
    margin-bottom: -8px;
    line-height: 1.4em;
  }

  .dropdown_arrow{
    display: none;
  }
  
  .dropdown_selected{
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: var(--primary-white);
      margin: 0 auto;
  }
  
  .dropdown_header {
    width: 100%;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    flex: 8 2;
    align-items: center;
    background: var(--primary);
    border-radius: 8px;
  }
  
  .dropdown_list {
    width: 100.5%;
    margin-top: -2px;
    margin-left: -1px;
    position: absolute;
    z-index: 1;
    border: 1px solid var(--secondary-hover-gray);
    border-radius: 8px;
  }

  .dropdown_list_item{
    margin: 0 auto;
  }
  
  .dropdown_list_item_button {
    width: 100%;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    margin: 0 auto;
    border-radius: 8px;
  }
  
  .dropdown_list_item_button:focus {
    outline: none;
    background-color: var(--secondary-hover-gray);
  }
  