@import url("../../assets/theme/palette.css");

.form-wrapper {
  width: 407px;
  height: auto;
  background-color: var(--primary-white);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08), 0 5px 50px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.form-container {
  box-sizing: border-box;
  padding: 32px 32px 28px 32px;
}

.form-title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.form-links {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 2px;
}

.form-links > a {
  font-size: 14px;
  line-height: 1.4em;
  color: var(--primary-dark-gray);
  text-decoration: underline;
}

.error {
  font-size: 12px;
  line-height: 1.3em;
  color: var(--primary-red);
  position: relative;
  top: -8px;
}

.signUp-button {
  background-color: var(--secondary-gray);
  color: var(--primary-dark-gray);
}
