.layout {
  width: 1344px;
  box-sizing: border-box;
  background-color: var(--secondary-hover-gray);
}

.title_block {
  max-width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 24px;
}

.title_name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: var(--primary-dark-gray);
}

.dropdown {
  display: inline-block;
  position: relative;
  width: 175px;
  height: 40px;
  z-index: 1;
}
  
.dropdown_button{
  border:none;
  border-radius:5px;
  font-size: 16px;
  font-weight: 400;
  cursor:pointer;
  
}
  
.dropdown_options {
  display: block;
  position: absolute;
  overflow: auto;
  background-color: var(--primary-white);
  border-radius:8px;
  border: solid 1px var(--secondary-hover-gray);
}
  
.dropdown_options .dropdown_link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 175px;
  height: 51px;
  font-size: 16px;
  font-weight: 400;
}
  
.dropdown_options .dropdown_link:hover {
  background-color: var(--primary-gray);
  border-radius:5px;
  font-size: 16px;
  font-weight: 400;
}

@media screen and (max-width: 375px) {
  .dropdown_options .dropdown_link {
    width: 136px;
  }
  .dropdown { 
    width: 136px;
  }
}