.detailed-info-container h5 {
  font-size: 14px;
  font-weight: 700;
}

.detailed-info-container {
  display: none;
}

.bank-list-item-container.increasedHeight + .detailed-info-container {
  display: block;
}

.text-info-container {
  overflow: hidden;
}

.route-button-container {
  width: 100%;
  padding: 5%;
  position: sticky;
  bottom: 0;
  background-color: var(--primary-white);
  border-top: 1px solid var(--secondary-light-gray);
  border-bottom: 1px solid var(--secondary-light-gray);
}

.sticky-button {
  width: 90%;
  margin: auto;
}

@keyframes openInfo {
  0%{
    max-height: 0px;
  }
  100%{
    max-height: 1000px;
  }
}
