@import "../../shared/assets/scss/variables.module.scss";
@import "../../shared/assets/scss/mixins.scss";

.slider_component_wrapper {
  @include flexContainer(368px, 598px);
  position: relative;
  border-radius: 12px;
  flex-direction: column;
  justify-content: space-between;
  background: cover;
  transition: 0.3s;
  cursor: pointer;
  @media screen and (max-width: 1024px) {
    justify-self: end;
  }
  @media screen and (max-width: 1000px) {
    display: none;
  }
  @media screen and (max-width: 375px) {
    @include flexContainer(334px, 570px);
    justify-self: center;
  }
}

.loginSliderWrapper {
  width: 612px;
  height: 898px;
}

.slider_carousel {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider_carousel_item {
  text-align: -webkit-center;
}

.slider_img {
  object-fit: cover;
  z-index: -1;
  width: 368px;
  height: 598px;
  border-radius: 12px;
  @media screen and (max-width: 375px) {
    width: 343px;
    height: 570px;
  }
}

.loginSliderImg {
  width: 612px;
  height: 898px;
}

.slider_icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.adv_content {
  position: absolute;
  width: 320px;
  margin: 24px 24px 0px 24px;
}

.loginContent {
  width: 100%;
  justify-content: start;
  row-gap: 20px;
  margin: 0;
  padding: 24px;
}

.adv_button {
  position: absolute;
  margin: 12px 24px;
  bottom: 68px;
  @media screen and (max-width: 375px) {
    margin: 12px 16px;
    width: 302px;
  }
}

.loginAdvButton {
  width: 564px;
  bottom: 98px;
  @media screen and (max-width: 1279px) {
    width: 432px;
  }
}

.btn_title {
  display: flex;
  align-items: center;
  padding: 11px 0;
}

.slider_text_title_top {
  @include flexContainer(320px, 28px);
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  align-items: center;
  color: $primary_white;
  cursor: pointer;
}

.slider_text_title_bottom {
  composes: slider_text_title_top;
  margin-top: 300px;
}

.slider_text_description_top,
.slider_text_description_bottom,
.slider_text_small_add {
  @include flexContainer(320px, 42px);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  align-items: center;
  color: $primary_white;
  margin-top: 20px;
  cursor: pointer;
}

.loginText {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  width: auto;
  height: auto;
  margin-top: 0;
}

.loginDescription {
  margin: 0;
}

.arrow_right_blue {
  margin-left: 10px;
}

@media screen and (max-width: 1279px) {
  .loginSliderWrapper,
  .loginSliderImg {
    width: 472px;
    height: 680px;
  }
}
