.contacts-footer-wrapper {
  display: flex;
  position: relative;
  bottom: 0px;
  left: 0px;
  right: 0px;
  justify-content: space-between;
  padding: 40px 120px;
  box-sizing: border-box;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05), 0px 2px 20px rgba(2, 3, 3, 0.05);
}

.contacts-footer-info-card-description-link {
  display: none;
}

.contacts-footer-phone-icon {
  fill: var(--primary-dark-gray);
}

.contacts-footer-info-card-wrapper {
  width: 25%;
}

.contacts-footer-info-card-wrapper:nth-child(3) {
  width: 12%;
}

.contacts-footer-store-links-wrapper {
  width: 22%;
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
}

.contacts-footer-info-block-wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts-footer-legal-address-title {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 24px;
  margin-right: 12px;
}

.contacts-footer-legal-address-wrapper {
  margin-bottom: 25px;
  margin-top: 18px;
}

.contacts-footer-legal-address-number {
  font-size: 12px;
  line-height: 16px;
  width: 200px;
}

@media screen and (max-width: 1440px) {
  .contacts-footer-wrapper {
    padding: 40px 0;
  }

  .contacts-footer-info-card-wrapper {
    width: 30%;
  }

  .contacts-footer-store-links-wrapper {
    margin-right: 0;
    position: absolute;
    right: 20px;
    bottom: 43px;
  }

  .contacts-footer-info-card-wrapper:nth-child(3) {
    width: 23%;
  }
}

@media screen and (max-width: 1280px) {
  .contacts-footer-info-card-wrapper {
    width: 33%;
  }

  .contacts-footer-info-card-wrapper:nth-child(3) {
    width: 28%;
  }

  .contacts-footer-store-links-wrapper {
    right: 70px;
  }
}

@media screen and (max-width: 1024px) {
  .contacts-footer-wrapper {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .contacts-footer-info-card-wrapper {
    width: 382px;
  }

  .contacts-footer-info-card-wrapper:nth-child(1) {
    margin-right: 48px;
  }

  .contacts-footer-info-card-wrapper:nth-child(3) {
    margin-top: 24px;
    width: 20%;
  }

  .contacts-footer-store-links-wrapper {
    left: 200px;
    bottom: 86px;
  }
}

@media screen and (max-width: 768px) {
  .contacts-footer-info-card-wrapper {
    width: 45%;
  }

  .contacts-footer-info-card-wrapper:nth-child(1) {
    margin-right: 48px;
  }
}

@media screen and (max-width: 360px) {
  .contacts-footer-wrapper {
    padding: 24px 16px 56px;
    background-color: var(--primary-dark-gray);
    color: var(--primary-white);
  }

  .contacts-footer-phone-icon.mobile {
    fill: var(--primary-white);
  }

  .contacts-footer-info-card-wrapper {
    margin-bottom: 24px;
    width: 100%;
  }

  .contacts-footer-store-links-wrapper {
    width: 100%;
    position: static;
  }

  .contacts-footer-info-card-wrapper:nth-child(3) {
    width: 100%;
  }

  .contacts-footer-info-card-description-link {
    display: block;
    font-size: 14px;
    line-height: 20px;
    margin: 0 auto 8px;
  }
}
