.wrapper {
  display: grid;
  grid-template-columns: 100%;
  column-gap: 24px;
  grid-template-rows: 100%;
  background-color: var(--secondary-very-light-gray);
}

.subheader {
  padding: 20px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.wrapper_with_adv {
  grid-template-columns: 74% 24.6%;
}

.main_block {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 24px;
  background: var(--secondary-background);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.list {
  height: 808px;
}

.link_wrap {
  width: calc(100% - 63px);
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: var(--primary-white);
  position: absolute;
  bottom: 24px;
  left: 23px;
}

.link_wrap_without_adv {
  width: 96%;
}

.link_wrap_firefox {
  width: calc(100% - 55px);
}

.open_link {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-button-disabled);
  border: 1px solid var(--primary-input-hover);
  border-radius: 12px;
}

.show_more {
  display: none;
}

@media screen and (max-width: 1440px) {
  .list {
    height: 752px;
  }
}
@media screen and (max-width: 768px) {
  .link_wrap {
    bottom: 22px;
  }
}

@media screen and (max-width: 375px) {
  .main_block {
    padding: 12px;
  }

  .list {
    overflow-y: hidden;
    height: 388px;
  }

  .link_wrap {
    bottom: 22px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: calc(100% - 21px);
    height: 67px;
    left: 11px;
  }

  .show_more {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-text-3);
    cursor: pointer;
  }
}
