@import "../../../../shared/assets/scss/variables.module.scss";
@import "../../../../shared/assets/scss/mixins.scss";

.wrapper, .expired_wrapper {
  @include flexContainer(492px, 436px);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  gap: 10px;
  background: $secondary_background;
  border-radius: 16px;
  padding: 40px;
}

.expired_wrapper {
  height: 232px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  align-self: center;
  color: $primary_text;
}

.description {
  @include flexContainer(100%);
  align-items: center;
  color: $primary_text_2;
  flex-direction: column;
  column-gap: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-align: center;
}

.buttons {
  @include flexContainer(100%);
  flex-direction: row;
  justify-content: space-between;
}

.button {
  width: 198px;
  height: 40px;
}