.list {
  display: flex;
  justify-content: center;
  column-gap: 24px;
}

.item:hover {
  cursor: pointer;
}
@media screen and (max-width: 1280px) {
  .list {
    flex-direction: column;
    row-gap: 16px;
  }  
}
