@import "../../assets/scss/variables.module.scss";

.copy_field {
  padding: 8px 16px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: $secondary_text;
  background: $secondary_button_default;
  border-radius: 8px;
}
