@import '../../../shared/assets/scss/variables.module.scss';
@import '../../../shared/assets/scss/mixins.scss';

.block {
  @include flexContainer(1120px, 652px);
  background-color: $secondary_background;
  border-radius: 12px;
  margin: auto;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding-top: 40px;
  @media screen and (max-width: 1024px) {
    max-width: 944px;
    padding: 24px 20px 0px;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    max-width: 696px;
  }
  @media screen and (max-width: 767px) {
    max-width: 343px;
  }
}

.title {
  font-weight: 700;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  color: $primary_text;
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    font-size: 36px;
    line-height: 42px;
  }
  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 28px;
  }
}

.subtitle {
  font-size: 16px;
  line-height: 22px;
  color: $secondary_text;
  max-width: 664px;
  text-align: center;
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    max-width: 648px;
  }
  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 16px;
    max-width: 295px;
  }
}

.imageWrapper {
  width: 395px;
  height: 450px;
  padding: 10px 10px 0px;
  box-shadow: 0px -5px 15px $box_shadow;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  @media screen and (max-width: 767px) {
    width: 266px;
    height: 305px;
    padding: 5px 5px 0px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
  }
}

.image {
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  @media screen and (max-width: 767px) {
    max-width: 256px;
    max-height: 300px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
  }
}