.wrapper {
  height: 102px;
  width: 164px;
  position: absolute;
  top: 13px;
  right: 16px;
  background: var(--secondary-background);
  border: 1px solid var(--primary-border-2);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.firstBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.secondBlock, .firstBlock {
  padding: 13px;
}

.dr {
  background-color: var(--primary-border-2);
  border: none;
  height: 1px;
  width: 100%;
}

.link {
  font-size: 16px;
  line-height: 19px;
  color: var(--primary-text);
}