.container {
  width: 100%;
}

.wrapper {
  width: 100%;
  padding: 24px;
}

.account {
  padding: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--primary-white);
  border: 1px solid var(--secondary-light-gray);
  border-radius: 8px;
}

.account_content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--secondary-border); 
}

.account_info {
  margin-top: 20px;
}

.account_name {
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: var(--primary-text);
  align-items: center;
}
.account_name__title {
  margin-right: 12px;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.55);
  z-index: 15;
}

@media screen and (max-width: 375px) {
  .wrapper {
    padding: 17px 21px;
  }

  .account_content {
    flex-direction: column;
  }

  .account {
    padding: 12px;
  }
}
