.wrapper {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-very-light-gray);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70px calc(100% - 70px);
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .wrapper {
    overflow-y: scroll;
  }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .wrapper {
    grid-template-rows: 70px 1fr;
  }
}

