@import url("../../../assets/theme/palette.css");

.toggle-button-container {
  position: absolute;
  right: -138px;
  min-width: 150px;
  top: 39px;
  display: flex;
  gap: 10%;
}

.filter-toggle-button {
  position: relative;
  left: -150px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--secondary-light-gray);
  border-radius: 20px;
  background-color: var(--secondary-very-light-gray);
  padding: 6px 12px;
  font-size: 16px;
  animation: appear forwards 0.2s;
}

@keyframes appear {
  0% {
    left: -150px
  }
  100% {
    left: 0px
  }
}

.filter-toggle-button:hover {
  background-color: var(--secondary-hover-gray);
}

.filter-toggle-button.pressed {
  background-color: var(--secondary-light-yellow);
}

.atms-container .toggle-button {
  z-index: 1;
  position: relative;
  width: 24px;
  height: 32px;
  background-color: var(--primary-yellow);
  border: transparent;
  border-radius: 2px;
}

.toggle-button:hover::before {
  content: attr(data-content);
  text-align: center;
  position: absolute;
  width: 56px;
  height: 24px;
  top: -40px;
  padding: 6px 4px;
  font-size: 14px;
  transform: translateX(-45%);
  background-color: var(--primary-yellow);
  border-radius: 2px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 57% 75%, 50% 100%, 43% 75%, 0 75%);
}

.noPopup::before {
  display: none;
}