:root {
  --primary-yellow: #ffd600;
  --primary-white: #ffffff;
  --primary-gray: #e0e0e0;
  --primary-dark-gray: #212529;
  --primary-red: #f2453d;
  --primary-black: #000000;
  --secondary-yellow: #fff176;
  --secondary-light-yellow: #fff9c4;
  --secondary-light-yellow-50: #fffde7;
  --secondary-gray: #9e9e9e;
  --secondary-dark-gray: #616161;
  --secondary-light-gray: #eeeeee;
  --secondary-light-red: #f5d8d8;
  --secondary-very-light-gray: #fafafa;
  --secondary-hover-gray: #f5f5f5;
  --secondary-blue: #4054b2;
  --secondary-green: #4caf50;
  --secondary-middle-gray: #6d6d82;
  --secondary-gray-account: #5a5a5a;
  --primary: #6db720;
  --secondary: #d6ff96;
  --tertiary: #ebffca;
  --disabled: #f7ffeb;
  --secondary-light-blue: #0b6cff;

  /* DESIGN _V2 */
  /* BACKGROUND Styles */
  --primary-background: #fafafa;
  --secondary-background: #ffffff;
  --primary-background-left-bar: #242429;
  --primary-background-tab-hover: #E9F0FF;

  /* TEXT styles */
  --primary-text: #212529;
  --primary-text-2: #6d6d82;
  --primary-text-3: #0b6cff;
  --secondary-text: #86868e;
  --primary-text-left-bar: #ffffff;

  /* BUTTONS PRIMARY Styles */
  --primary-button-default: #0b6cff;
  --primary-button-hover: #0056d6;
  --primary-button-active: #0056d6;
  --primary-button-disabled: #aab9ce;
  --primary-button-tab: #0056d6;

  /* BUTTONS SECONDARY Styles */
  --secondary-button-default: #e7f1ff;
  --secondary-button-hover: #d6e7ff;
  --secondary-button-active: #0b6cff;
  --secondary-button-disabled: #f9f9fa;
  --secondary-button-tab: #e7f1ff;

  /* SYSTEM COLORS  Styles */
  --error: #d02b32;
  --error-secondary: #d02b32;
  --approve: #008a27;
  --approve-secondary: #008a27;

  /* ICON Styles */
  --primary-characters-counter: #9e9e9e;
  --primary-on-the-left-bar: #5a5a5a;
  --active-on-the-left-bar: #ffffff;

  /* INPUT Styles */
  --primary-input-default: #f5f5f5;
  --primary-input-hover: #f4f4f6;

  --primary-input-focus: #0b6cff;
  --primary-input-error: #d02b32;

  /* ACCENT COLORS Styles */
  --primary: #6db720;
  --secondary: #d6ff96;
  --tertiary: #ebffca;
  --disabled: #f7ffeb;

  /* SIDEBAR Styles */
  --primary-sidebar: #b3b3b3;
  --active-background: #3f3f4b;
  --active-border: #474957;

  /* Styles */
  --primary-border: #b2b2b7;
  --primary-border-2: #f4f4f6;
  --secondary-border: #e9e9ed;
  --secondary-border-2: #eeeeee;

  /* SCROLLBAR Styles */
  --primary-scroll-bar: #f5f5f5;
  --primary-scroll-bar-thumb: #b3b3b3;
  --primary-cross-button: #a0a0a6;

  /* User Avatar */
  --primary-user-avatar: #abacba;

   /* Shadow */
   --primary-shadow: rgba(0, 0, 0, 0.4);
}

/* NewVision Design: https://www.figma.com/file/l8ZjElmLjTMUcRY2Am9WYT/New_Beebank-(Copy)?node-id=0%3A1&t=2RfLYyhtF2fnG8bL-0 */
