.secretQuestion-label {
  display: none;
}

.secretQuestion-label-active {
  display: block;
  font-size: 14px;
  margin-bottom: -8px;
  line-height: 1.4em;
  color: var(--primary-dark-gray);
}

.input {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  margin-bottom: 16px;
  padding: 12px;
  font-size: 16px;
  line-height: 1.5em;
  border: 1px solid var(--secondary-gray);
  border-radius: 2px;
  color: var(--secondary-gray);
  caret-color: var(--primary-dark-gray);
  overflow: hidden;
}


.input-tracked:focus {
  border: 1px solid var(--primary-yellow);
  outline: none;
}

.validation-error {
  display: block;
  font-size: 12px;
  line-height: 1.3em;
  text-align: end;
  padding-right: 10px;
  text-align: start;
  color: var(--primary-red);
  position: relative;
  top: -8px;
}