@import url("../../assets/theme/palette.css");
button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border-radius: 2px;
}

.form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 360px;
  min-height: 48px;
  background-color: var(--primary-yellow);
  color: var(--primary-dark-gray);
  font-weight: 500;
  font-size: 16px;
  transition: all 0.3s;
}
.apply-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 143px;
  min-height: 48px;
  background-color: var(--primary-yellow);
  color: var(--primary-dark-gray);
  font-weight: 500;
  font-size: 16px;
  transition: all 0.3s;
  margin-left: 32px;
  margin-top: 24px;
}
.apply-description-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 343px;
  min-height: 48px;
  background-color: var(--primary-yellow);
  color: var(--primary-dark-gray);
  font-weight: 700;
  font-size: 16px;
  transition: all 0.3s;
  margin-left: 0px;
  margin-top: 80px;
}
.find-out-button {
  display: flex;
  align-items: center;
  width: 74px;
  height: 16px;
  color: var(--primary-dark-gray);
  font-weight: 400;
  font-size: 12px;
  transition: all 0.3s;
  margin-top: 24px;
  text-decoration: underline;
}

.dropdown-list-item--button {
  width: 343px;
  height: 48px;
  padding: 16px;
  font-size: 16px;
  line-height: 1.5em;
  text-align: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: var(--primary-white);
  border: 1px solid var(--secondary-gray);
  border-top: none;
  border-bottom: none;
}

.dropdown-list-item--button:focus {
  outline: none;
  background-color: var(--secondary-yellow);
}

.dropdown-list-item--button:hover {
  background-color: var(--secondary-yellow);
  outline: none;
}

.slider-button:hover {
  cursor: pointer;
  filter: brightness(70%);
}

.tabNav__link {
  font: inherit;
  color: var(--primary-dark-gray);
  font-size: 16px;
  line-height: 24px;
}

.button__disabled {
  background-color: var(--secondary-yellow);
  color: var(--secondary-gray);
  cursor: default;
}

.open-account-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 176px;
  min-height: 40px;
  background-color: var(--primary);
  border-radius: 8px;
  color: var(--primary-white);
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

@media screen and (max-width: 375px) {
  .open-account-plus {
    margin-right: 16px;
    min-width: 136px;
  }
}

@media screen and (max-width: 360px) {
  .form-button {
    min-width: 328px;
    margin: 0 auto;
  }
}
