@import "../../shared/assets/scss/variables.module.scss";

.container {
  width: 100%;
  min-height: 100vh;
  background: $primary_background;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  margin-top: 70px;
  padding-bottom: 70px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
  background: $primary_background;
}
