@import "../../shared/assets/scss/variables.module.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  margin-top: 24px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin: 16px 0;
  line-height: 19px;
  color: $primary_text;
}

.description {
  font-size: 14px;
  text-align: center;
  line-height: 140%;
}
