.wrapper {
  max-width: 1120px;
  display: flex;
  justify-content:center;
  gap: 20px;
  margin: auto;
}

.block_left {
  width: 550px;
  height: 687px;
  background-image: url("../../../../uikit_v2/static/blockFiveImageIntro.svg");
  background-size: cover;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  padding: 0px 40px 40px;
  row-gap: 16px;
}

.block_left_title {
  font-weight: 700;
  font-size: 44px;
  line-height: 52px;  
  color: var(--active-on-the-left-bar);
}

.block_left_description {
  font-size: 16px;
  line-height: 22px;
  color: var(--active-on-the-left-bar);
}

.block_right {
  width: 550px;
  height: 687px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
  background-color: var(--active-on-the-left-bar);
  border-radius: 12px;
}

.textWrapperRight{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 16px;
  padding: 40px 40px 0;
}

.block_right_title {
  font-weight: 700;
  font-size: 44px;
  line-height: 52px;
  color: var(--primary-text);
}

.block_right_description {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--secondary-text);
}

.block_right_img {
  width: 361px;
  height: 411px;
  padding: 10px 10px 0px;
  box-shadow: 0px -5px 15px rgba(188, 186, 186, 0.2);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

@media screen and (max-width: 1024px) {
  .wrapper{
    max-width: 944px;
  }

  .block_left {
    padding: 0px 24px 24px;
  }

  .textWrapperRight{
    padding: 24px 24px 0px;
  }
}

@media screen and (max-width: 900px) {
  .wrapper{
    flex-direction: column;
    align-items: center;
  }

  .block_left, .block_right{
    width: 616px;
    height: 687px;
  }

  .block_left_title, .block_right_title {
    font-size: 36px;
    line-height: 42px;
  }

  .block_right_img {
    width: 356px;
    height: 381px;
    padding: 7px 7px 0px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
  }

  .img {
    width: 342px;
    height: 374px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .block_left {
    width: 343px;
    height: 480px;
  }

  .block_right {
    width: 343px;
    height: 540px;
  }

  .textWrapperRight{
    padding: 20px 20px 0px;
  }

  .block_left_title, .block_right_title {
    font-size: 24px;
    line-height: 28px;
  }

  .block_left_description, .block_right_description {
    font-size: 14px;
    line-height: 16px;
  }

  .block_right_img {
    width: 310px;
    height: 305px;
  }
  
  .img {
    width: 300px;
    height: 300px;
  }
}
