@import "../../assets/scss/variables.module.scss";

.cross {
  display: inline-block;
  z-index: 1;
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: relative;
  &::before,
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: $primary_cross_button;
    border-radius: 5px;
    width: 100%;
    height: 1px;
  };
  &::before {
    top: 10px;
    right: 5px;
    transform: rotate(45deg);
  };
  &::after {
    top: 10px;
    right: 5px;
    transform: rotate(-45deg);
  };
}

.crossLine {
  display: none;
}

.burgerButton,
.crossButton {
  width: 16.5px;
  height: 13.5px;
  z-index: 2;
  border: none;
  background: none;
}

.burgerButton {
  display: none;
  @media screen and (max-width: 440px) {
    display: inline-block;
  }
}

.burger {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  &::after,
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: $primary_sidebar;
    border-radius: 5px;
    width: 100%;
    height: 1px;
  }
  &::before {
    top: 0;
    left: 0;
  }
  &::after {
    bottom: 0;
    left: 0;
  }
}

.burgerLine {
  display: inline-block;
  position: absolute;
  background-color: $primary_sidebar;
  border-radius: 5px;
  width: 100%;
  height: 1px;
  top: calc(50% - 0.5px);
  left: 0;
}

.burgerRotated {
  &::before {
    transform: rotate(45deg);
    transition: all 0.3s;
    top: -0.2px;
  }
  &::after {
    transform: rotate(-45deg);
    top: 0.3px;
    transition: all 0.3s;
  }

}

.burgerRotated span {
  display: none;
}


