.description {
  width: 428px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  width: 428px;
  font-size: 44px;
  font-weight: 700;
  color: var(--primary-text);
  align-self: baseline;
  word-break: normal;
}

.large_title {
  font-size: 56px;
}

.title_desc {
  color: var(--secondary-text);
  margin: 16px 0px 32px;
  align-self: baseline;
}

.button {
  align-self: baseline;
  font-size: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .description {
    width: 320px;
  }

  .title, .large_title {
    font-size: 36px;
    width: 100%;
  }

  .title_desc {
    font-size: 16px;
  }

  .button{
    width: 122px;
    height: 40px;
    font-size: 14px;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .description {
    width: 100%;
  }

  .title, .large_title {
    font-size: 24px;
  }

  .title_desc {
    font-size: 14px;
  }
}