.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.icon {
  width: 100px;
  height: 100px;
}

.description {
  width: 197px;
  margin: 16px auto 16px;
  font-size: 14px;
  line-height: 140%;
  color: var(--primary-text);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
  height: 40px;
  background: var(--primary-button-default);
  border-radius: 12px;
  color: var(--primary-white);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.button:hover {
  background: var(--primary-button-hover);
}
