@import "../../../shared/assets/scss/variables.module.scss";
@import "../../../shared/assets/scss/mixins.scss";

.container {
  @include flexContainer(820px);
  justify-content: space-between;
  @media screen and (max-width: 1024px) {
    width: 100%;
    flex-direction: column;
  }
}

.card {
  @include flexContainer(400px, 240px);
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 20px 37px;
  font-size: 16px;
  line-height: 19px;
  background: $primary_white;
  border: 1px solid $primary_border_2;
  border-radius: 8px;
  &:first-child {
    @media screen and (max-width: 1024px) {
      margin-bottom: 16px;
    }
  }
  @media screen and (max-width: 375px) {
    font-size: 14px;
    line-height: 16px;
    width: 343px;
    height: 240px;
  }
}

.icon {
  margin-top: -5px;
  fill: $primary_cross_button;
}

.title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $primary_dark_gray;
  margin: 11px 0 16px;
  overflow: hidden;
}

.description {
  font-size: 14px;
  line-height: 16px;
  color: $primary_dark_gray;
  overflow: hidden;
  word-break: break-word;
}

.button {
  display: inline-block;
  width: 147px;
  height: 40px;
}