.chat-bot-body-button {
  width: 143px;
  height: 32px;
  align-self: end;
  border: 1px solid var(--primary-yellow);
  border-radius: 10px;
  font-size: 12px;
  color: var(--primary-black);
}

.chat-bot-body-button-secont-page {
  width: 180px;
  height: 36px;
  align-self: baseline;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  padding: 16px;
  margin: 0px 10px;
  transition: 0.1s;
}

.chat-bot-body-button-secont-page:hover {
  background-color: var(--primary-yellow);
}

.chat-bot-button-group-link-svg {
  align-self: flex-end;
}