.cross {
  display: inline-block;
  z-index: 1;
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: relative;
}

.crossLine {
  display: none;
}

.cross:before,
.cross:after {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: var(--primary-cross-button);
  border-radius: 5px;
  width: 100%;
  height: 1px;
}

.cross:before {
  top: 10px;
  right: 5px;
  transform: rotate(45deg);
}

.cross:after {
  top: 10px;
  right: 5px;
  transform: rotate(-45deg);
}

.burgerButton,
.crossButton {
  width: 16.5px;
  height: 13.5px;
  z-index: 2;
}

.burgerButton {
  display: none;
}

.burger {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}

.burger:after,
.burger:before,
.burgerLine {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: var(--primary-sidebar);
  border-radius: 5px;
  width: 100%;
  height: 1px;
}

.burger:before {
  top: 0;
  left: 0;
}
.burger:after {
  bottom: 0;
  left: 0;
}

.burgerLine {
  top: calc(50% - 0.5px);
  left: 0;
}

.burgerRotated:before {
  transform: rotate(45deg);
  transition: all 0.3s;
  top: -0.2px;
}

.burgerRotated:after {
  transform: rotate(-45deg);
  top: 0.3px;
  transition: all 0.3s;
}

.burgerRotated span {
  display: none;
}

@media screen and (max-width: 440px) {
  .burgerButton {
    display: inline-block;
  }
}
