.upload-avatar-container {
  position: relative;
  top: 10%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.photo-upload-text {
  min-width: 380px;
  display: flex;
  gap: 5px;
  font-size: 26px;
  margin-bottom: -25px;
}

.photo-upload-text + span {
  color: var(--secondary-gray);
}

.upload-avatar-container label {
  cursor: pointer;
  color: var(--secondary-blue);
}

.upload-avatar {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.avatar-editing-modal {
  position: absolute;
  top: 0;
  width: 603px;
}
