.wrapper {
  padding-left: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.wrapper_description {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--secondary-background);
}

.header_title {
  color: var(--primary-text);
}

.description {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: var(--primary-input-default);
  opacity: 0.6;
}

.header_description {
  color: var(--primary-text-2);
}

@media screen and (max-width: 768px) {
  .wrapper_description {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .wrapper {
    display: flex;
    margin: 0px;
    margin-bottom: 0px;
    margin-left: 23px;
    align-items: center;
  }

  .wrapper_description {
    display: flex;
  }
}
