.container {
  width: 652px;
  margin: 0 auto;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: var(--primary-text-2);
}

.sub_title {
  margin: 20px 0;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: var(--primary-text-2);
}

.card_container {
  display: flex;
  gap: 12px;
}

.button {
  width: 320px;
  margin: 20px auto 0;
  font-size: 16px;
}

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.55);
  z-index: 15;
}

.phoneIcon {
  width: 80px;
  height: 80px;
}

.faceIcon {
  width: 94.61px;
}