.popup {
  position: fixed;
  top: calc(50% - 210px);
  right: calc(50% - 162px);
  width: 324px;
  height: 420px;
  padding: 26px;
  border-radius: 16px;
  box-shadow: var(--primary-shadow) 0px 5px 15px;
}

.popup_title {
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
}

.popup_image {
  width: 276px;
  height: 276px;
  margin-bottom: 16px;
  border-radius: 12px;
  border: 1px solid var(--primary-border-2);
}

.popup_button {
  text-transform: capitalize;
}

.popup_button_icon {
  margin-right: 5px;
}

.popup_button_delete {
  color: var(--primary-input-error);
  background-color: transparent;
  border: none;
}

.popup_button_delete:hover {
  background-color: transparent;
  border: none;
}

.popup_button_container {
  display: flex;
  justify-content: space-between;
}

.popup_button_close {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: var(--secondary-light-blue);
  background-image: none;
}
