.working-hours-container {
  padding: 15px;
  border-bottom: 1px solid var(--secondary-light-gray);
}

.day-buttons-container {
  margin: 15px 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.day-button {
  width: 36px;
  height: 32px;
  background-color: var(--secondary-light-gray);
}

.day-button.today{
  text-decoration: underline;
}

.day-button.pressed {
  background-color: var(--secondary-light-yellow);
  font-weight: 700;
}

.time-of-work-block {
  display: flex;
  justify-content: center;
  gap: 25px;
  width: fit-content;
  justify-content: space-between;
}