.list {
  margin: auto;
  min-height: 600px;
  max-width: 1120px;
  display: flex;
  justify-content: center;
  color: var(--secondary-background);
  gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 20px;
  height: 600px;
  border-radius: 12px;
  transition: 0.5s;
  flex: 1;
}

.item:first-child {
  background-color: var(--primary-text);
}

.item:last-child {
  background-color: var(--secondary-button-active);
}

.item:hover {
  flex-basis: 30%;
  overflow-y: hidden;
}

@media screen and (max-width: 1024px) {
  .list {
    max-width: 944px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .list {
    max-width: 696px;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .list {
    flex-direction: column;
    align-items: center;
  }
  
  .item {
    max-width: 343px;
    min-height: 440px;
  }
}