.container-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  overflow: clip;
}

@media screen and (max-width: 1440px) {
  .container-wrapper {
    max-width: 1440px;
  }
}

@media screen and (max-width: 1280px) {
  .container-wrapper {
    max-width: 1280px;
  }
}

@media screen and (max-width: 1024px) {
  .container-wrapper {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .container-wrapper {
    max-width: 768px;
  }
}

@media screen and (max-width: 360px) {
  .container-wrapper {
    max-width: 360px;
  }
}
