@import "../../../../shared/assets/scss/variables.module.scss";

.email_form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  @media screen and (max-width: 375px) {
    width: 331px;
  }
}

.inputs {
  display: flex;
  justify-content: center;
  column-gap: 12px;
}

.button_group {
  display: flex;
  column-gap: 20px;
}

.button_group__submit, .button_group__cancel {
  width: 180px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: $secondary_light_blue;
  color: $primary_white;
  font-size: 16px;
}

.button_group__submit {
  &:disabled {
    background-color: $primary_button_disabled;
  }
}

.button_group__cancel {
  background-color: $secondary_light_gray;
  color: $primary_black;
}

.incorrect_code {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primary_red;
  line-height: 16.41px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.modal_wrapper {
  width: 428px;
  padding: 24px;
  border: 1px solid $secondary_light_gray;
}