@import '../../../shared/assets/scss/variables.module.scss';

.list {
  margin: auto;
  min-height: 600px;
  max-width: 1120px;
  display: flex;
  justify-content: center;
  color: $secondary_background;
  gap: 20px;
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    max-width: 696px;
    }
  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 20px;
  height: 600px;
  border-radius: 12px;
  transition: 0.5s;
  flex: 1;
  &:first-child {
    background-color: $primary_text;
  }
  &:last-child {
    background-color: $secondary_button_active;
  }
  &:hover {
    flex-basis: 30%;
    overflow-y: hidden;
  }
  @media screen and (max-width: 767px) {
    max-width: 343px;
    min-height: 440px;
  }
}