section {
  overflow: auto;
}

.user_profile_container {
  display: flex;
  padding: 25px 60px 60px 60px;
  overflow-y: auto;
}

.container {
  flex: 0 0 87%;
  min-height: 100vh;
  padding: 58px 65px 30px 35px;
  background-color: #ffffff;
  border-radius: 24px;
}

.link {
  display: block;
  width: 160px;
  height: 46px;
  padding-top: 12px;
  padding-left: 20px;
  color: var(--primary-text-2);
  font-size: 16px;
}

.link:hover, .active {
  color: var(--secondary-button-active);
  background-color: var(--primary-background-tab-hover);
  border-radius: 24px;
}

.link_delete {
  color: var(--error);
}

.link_delete_active {
  color: var(--error);
  background-color: var(--secondary-light-red);
}

.link_delete:hover {
  color: var(--error);
  background-color: var(--secondary-light-red);
}

.navigation {
  margin-right: 20px;
  padding-top: 60px;
}
