.slider_wrapper {
  display: flex;
  align-content: center;
  background-size: cover; 
  transition: .3s;
  margin-bottom: 37px;
  justify-content: center;
  height: 12px;
  align-items: center;
  column-gap: 8px;
}

.loginSliderWrapper {
  margin-bottom: 47px;
}

.slider_container {
  min-width: 53px;
  display: flex;
  overflow: hidden;
}

.slider {
  min-width: 8px;
  height: 8px;
  margin: 0px 4px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--primary-white);;
  transition: .3s;
}

.slider_selected {
  min-width: 28px;
  border-radius: 12px;
  background-color: #0B6CFF;
  transition: .3s;
}

.arrow_right, .arrow_left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.59px;
  height: 11.18px;
  cursor: pointer;
}

.arrow_left {
  transform: rotate(180deg);
}