@import url("../../../assets/theme/palette.css");

.recovery-wrapper {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.recovery-img-container-wrapper {
  position: absolute;
  filter: brightness(30%);
  z-index: -1;
}

.recovery-img-container img {
  width: 100vw;
  height: 115vh;
}

.recovery-form-body-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.recovery-form-body_progress_bar {
  margin-top: 24px;
}

.recovery-form-body_list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 46px;
}

.recovery-form-body_step_container {
  display: flex;
  flex-grow: 1;
}

.recovery-form-body_step-border {
  position: relative;
  color: var(--secondary-gray);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 14px;
  border-bottom: solid 4px var(--secondary-light-gray);
  padding-right: 55px;
}

.recovery-form-body_progress_text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.recovery-form-progress_ellipse {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--secondary-light-gray);
}

.active-step {
  border-bottom: solid 4px var(--primary-yellow);
  color: var(--primary-dark-gray);
}

.active-ellipse {
  background-color: var(--primary-yellow);
}

.content-input {
  width: 343px;
}

.recovery-form-content-container .form-button {
  min-width: 343px;
}

@media screen and (max-width: 768px) {
  .recovery-form-body_step-border.active-step {
    padding: 0 12px;
  }
}

@media screen and (max-width: 360px) {
  .content-input {
    width: 328px;
  }

  .recovery-form-content-container .form-button {
    min-width: 328px;
  }

  .recovery-form-body_progress_text {
    display: none;
  }

  .recovery-form-body_step_container {
    display: flex;
    justify-content: center;
  }

  .recovery-form-body_step-border {
    border: none;
    padding-right: 24px;
  }
}
