@import url("../../assets/theme/palette.css");

.confirmation-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 80%;
  margin: auto;
}

.confirmation-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: var(--primary-dark-gray);
}

.confirmation-message {
  text-align: center;
}

.confirmation-image {
  width: 100%;
}


