@import "../../../../../shared/assets/scss/variables.module.scss";

.container, .face_id {
  width: 520px;
  margin: 0 auto;
  position: relative;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: $primary_text_2;
}

.sub_title {
  margin: 20px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: $primary_text_2;
}

.icon {
  display: block;
  margin: 0 auto;
}

.description {
  text-align: center;
  margin: 26px 0;
  font-size: 14px;
  line-height: 16px;
  color: $primary_text_2;
}

.button {
  margin: 0 auto;
  width: 320px;
}

.canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}