@import '../../../../../shared/assets/scss/mixins.scss';

.wrapper {
  @include flexContainer(100%, 796px);
  @media screen and (max-width: 1024px) {
    height: 581px;
    flex-direction: column;
  }  
}

.icon {
  @include flexContainer(100%, 100%);
  justify-content: center;
  align-items: center;
  margin-left: 80px;
  @media screen and (max-width: 1024px) {
    height: 238px;
    display: none;
  }
}

.browser {
  width: 576px;
  height: 432px;
  display: none;
  transition: 0.1s;
  @media screen and (max-width: 1024px) {
    width: 351px;
    height: 287px;
  }
  @media screen and (max-width: 767px) {
    display: block;
  }
}