.container {
  display: flex;
  justify-content: space-between;
  width: 820px;
}

.wrapper {
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 240px;
  width: 400px;
  padding: 24px 20px 37px;
  font-size: 16px;
  line-height: 19px;
  background: var(--primary-white);
  border: 1px solid #f4f4f6;
  border-radius: 8px;
}

.icon {
  margin-top: -5px;
  fill: #a0a0a6;
}

.title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--primary-dark-gray);
  margin: 11px 0 16px;
  overflow: hidden;
}

.description {
  font-size: 14px;
  line-height: 16px;
  color: var(--primary-dark-gray);
  overflow: hidden;
  word-break: break-word;
}

.button {
  display: inline-block;
  width: 147px;
  height: 40px;
  border-radius: 12px;
  background-color: #0b6cff;
  color: var(--primary-white);
  font-size: 16px;
}

.button:hover {
  background-color: #0056d6;
}

@media screen and (max-width: 1280px) {
  .outside_container {
    width: 75%;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
    flex-direction: column;
  }

  .outside_container {
    width: 60%;
  }

  .card:first-child {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 375px) {
  .outside_container {
    padding: 0px;
    width: 100%;
  }

  .card {
    font-size: 14px;
    line-height: 16px;
    width: 343px;
    height: 240px;
  }
}