.featured-services-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  box-sizing: border-box;
}

.featured-services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  height: 136px;
  color: inherit;
}

.featured-services-item:last-child .featured-services-icon {
  border: 4px dashed var(--primary-yellow);
}

.featured-services-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 96px;
  border: 4px solid var(--primary-yellow);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 10px;
}

.featured-services-icon:hover {
  background-color: var(--secondary-light-yellow);
}

.featured-services-title {
  font-size: 16px;
  line-height: 24px;
}
