:root {
  --primary-yellow: #ffd600;
  --primary-white: #ffffff;
  --primary-gray: #e0e0e0;
  --primary-dark-gray: #212529;
  --primary-red: #f2453d;
  --primary-black: #000000;
  --secondary-yellow: #fff176;
  --secondary-light-yellow: #fff9c4;
  --secondary-light-yellow-50: #fffde7;
  --secondary-gray: #9e9e9e;
  --secondary-dark-gray: #616161;
  --secondary-light-gray: #eeeeee;
  --secondary-very-light-gray: #fafafa;
  --secondary-hover-gray: #f5f5f5;
  --secondary-blue: #4054b2;
  --secondary-green: #4caf50;
  --secondary-middle-gray: #5a5a5a;
  --secondary-gray-account: #5a5a5a;
  --primary: #6DB720;
  --secondary: #D6FF96;
  --tertiary: #EBFFCA;
  --disabled: #F7FFEB;

  /* NEW VISION DESIGN */
   /* BACKGROUND Styles */
   --main-area: #fafafa;
   --left-bar: #ffffff;
   --header: #ffffff;

   /* TEXT styles */
   --primary-body-text: #212529;
   --primary-body-text-2: #5a5a5a;
   --secondary-body-text: #9e9e9e;

   /* BUTTONS PRIMARY Styles */
   --default: #6DB720;
   --hover: #5D9C1B;
   --active: #5D9C1B;
   --disabled: #CFE1B4;
   --tab: #5D9C1B;

   /* BUTTONS SECONDARY Styles */
   --default: #E3E3E3;
   --hover: #D9D9D9;
   --active: #5D9C1B;
   --disabled: #E8E8E8;
   --tab: #E3E3E3;

   /* SYSTEM COLORS  Styles */
   --error: #D02B32;
   --error-secondary: #D02B32;
   --approve: #008A27;
   --approve-secondary: #008A27;

   /* ICON Styles */
   --ptimary: #9E9E9E;
   --primary-on-the-left-bar: #5A5A5A;
   --active-on-the-left-bar: #FFFFFF;

   /* INPUT Styles */
   --default: #F5F5F5;
   --active: #E6E6E6;

   /* ACCENT COLORS Styles */
   --primary: #6DB720;
   --secondary: #D6FF96;
   --tertiary: #EBFFCA;
   --disabled: #F7FFEB;
}

/* NewVision Design: https://www.figma.com/file/l8ZjElmLjTMUcRY2Am9WYT/New_Beebank-(Copy)?node-id=0%3A1&t=2RfLYyhtF2fnG8bL-0 */