@import '../../../../../shared/assets/scss/mixins.scss';

.wrapper {
  @include flexContainer(100%, 796px);
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  @media screen and (min-width: 1024px) and (max-width: 1280px) {
    height: 768px;
  }
  @media screen and (max-width: 767px) {
    height: 800px;
  }
}

.description, .description_mobile {
  @include flexContainer(100%, 500px);
  flex-direction: row;
  position: relative;
  margin-top: 100px;
  column-gap: 12px;
}

.description_mobile {
  justify-content: space-between;
}

.info {
  @include flexContainer(428px, 100%);
  flex-direction: column;
  justify-content: end;
  align-items: center;
  z-index: 2;
  @media screen and (min-width: 1024px) and (max-width: 1280px) {
    width: 45%;
    height: 100%;
  }
}

.icon {
  @include flexContainer(702px, 499px);
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2px;
  right: -83px;
  @media screen and (min-width: 1024px) and (max-width: 1280px) {
    right: calc(15% - 702px);
  }
}

.additional {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  align-items: center;
  z-index: 1;
}

.animation_container {
  width: 500px;
  height: 500px;
  position: relative;
  z-index: 3;
  @media screen and (min-width: 1024px) and (max-width: 1280px) {
    width: 360px;
    height: 360px;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.video, .video_mobile {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  transition: 0.1s;
}

.video_mobile {
  width: 200px;
  height: 200px;
  display: none;
  position: static;
  @media screen and (max-width: 767px) {
    display: block;
    align-self: flex-end;
    margin-right: 28px;
    z-index: 2;
  }
} 

.browser {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  transition: 0.1s;
}

@media screen and (max-width: 1280px) {
  .description {
    height: auto;
    flex-direction: column;
    row-gap: 12px;
  }

  .description_mobile {
    height: auto;
    flex-direction: row;
  }
}
