.banks-list-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid var(--secondary-light-gray);
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .banks-list-container {
    overflow: overlay;
    overflow-x: hidden;
  } 
}
.banks-list-container {
  scrollbar-color: var(--secondary-dark-gray) transparent;
  scrollbar-width: thin !important;
}

.banks-list-container::-webkit-scrollbar {
  width: 6px;
}

.banks-list-container::-webkit-scrollbar-track {
  border-radius: 6px;
}

.banks-list-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color:  var(--secondary-gray);
}

.banks-list-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-dark-gray);
}

.banks-list-container::-webkit-scrollbar-thumb:active {
  background-color: var(--secondary-dark-gray);
}