.layout {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--secondary-hover-gray);
}

.accounts {
  padding: 0px 24px;
  background: var(--secondary-background); 
}

.main_page_accounts {
  padding: 0px 8px 0px 0px;
}

.open_product_link {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 11px;
  background: var(--secondary-button-disabled);
  border: 1px solid var(--primary-input-hover);
  border-radius: 12px;
  color: var(--secondary-text);
  font-size: 16px;
  line-height: 19px;
}

.open_product_link:hover {
  color: var(--primary-button-default);
  background: var(--secondary-button-default);
  border-color: var(--primary-button-default);
}

.empty_space {
  width: 100%;
  height: 52px;
}

.title_block {
  max-width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 24px;
}

.title_name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: var(--primary-dark-gray);
}

.dropdown {
  display: inline-block;
  position: relative;
  width: 175px;
  height: 40px;
  z-index: 1;
}

.dropdown_button {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.dropdown_options {
  display: block;
  position: absolute;
  overflow: auto;
  background-color: var(--primary-white);
  border-radius: 8px;
  border: solid 1px var(--secondary-hover-gray);
}

.dropdown_options .dropdown_link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 175px;
  height: 51px;
  font-size: 16px;
  font-weight: 400;
}

.dropdown_options .dropdown_link:hover {
  background-color: var(--primary-gray);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
}

@media screen and (max-width: 375px) {
  .layout {
    padding: 0px 0px;
    background-color: var(--primary-white);
  }
  
  .layout_prod_mobile {
    padding: 0px 12px;
  }

  .dropdown_options .dropdown_link {
    width: 136px;
  }
  .dropdown {
    width: 136px;
  }

  .wrapper {
    padding: 0px;
  }

  .accounts {
    padding: 0px;
  }
}
