.change-password-container h4 {
  margin-bottom: 20px;
}

.change-password-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.change-password-buttons {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.change-button {
  min-width: 150px;
}

.reset-btn {
  background-color: var(--secondary-light-yellow);
}

.change-modal {
  position: relative;
  top: -10%;
  width: 40%;
}

.change-modal .modal-content {
  font-size: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}