@import "../../../shared/assets/scss/variables.module.scss";
@import "../../../shared/assets/scss/mixins.scss";

.popup {
  @include flexContainer(100vw, 100vh);
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
  z-index: 15;
}

.wrapper {
  @include flexContainer(368px, 219px);
  padding: 24px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $primary_white;
  border: 1px solid $secondary_light_gray;
  border-radius: 8px;
  box-sizing: border-box;
  @media screen and (max-width: 375px) {
    height: 220px;
    width: 303px;
    padding: 20px 0 0 ;
  } 
}

.title {
  font-size: 16px;
  font-weight: 600;
}

.description {
  font-size: 14px;
  @media screen and (max-width: 375px) {
    padding: 0 20px;
  } 
}

.confetti {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url("../../../shared/assets/icons/static/confity.png");
  background-repeat: repeat-x;
  background-position: bottom;
}