.info-block-wrapper {
  display: flex;
  align-items: center;
}

.info-block-icon {
  display: inline-block;
  margin-right: 10px;
}

.info-block-number {
  font-size: 16px;
  line-height: 24px;
}

.info-block-description {
  font-size: 12px;
  line-height: 16px;
  color: var(--secondary-gray);
}
