.sms_form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.inputs {
  display: flex;
  justify-content: center;
}

.input {
  width: 40px;
  height: 40px;
  border: 1px solid var(--secondary-light-gray);
  outline: none;
  border-radius: 8px;
  background-color: var(--primary-input-default);
  margin: 0px 2px;
  padding: 12px;
  color: var(--primary-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.inputs :nth-child(3) {
  margin-right: 8px;
}

.input_active {
  border: 1px solid var(--secondary-light-blue);
}

.input__error {
  width: 38px;
  height: 38px;
  border: 1px solid var(--primary-red);
}

.input::-webkit-inner-spin-button {
  display: none;
}

.button_group {
  display: flex;
  column-gap: 20px;
}

.button_group__submit, .button_group__cancel {
  width: 180px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: var(--secondary-light-blue);
  color: var(--primary-white);
  font-size: 16px;
}

.button_group__submit:disabled {
  background-color: var(--primary-button-disabled);
}

.button_group__cancel {
  background-color: var(--primary-input-default);
  color: var(--secondary-text);
}

.incorrect_code {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-red);
  Line-height: 16.41px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: var(--secondary-light-gray);
  z-index: 15;
}

.modal_wrapper {
  width: 428px;
  padding: 24px;
  border: 1px solid var( --secondary-light-gray);
}

@media screen and (max-width: 375px) {
  .sms_form {
    width: 331px;
  }
}