@import url("../../assets/theme/palette.css");

.stars-password-input {
  letter-spacing: 1.5px !important;
}

@-moz-document url-prefix() {
  .stars-password-input {
    letter-spacing: -2.8px !important;
  }
}

.stars-password-input::selection{
  background: transparent;
}

.password-input-block ::-ms-reveal {
  display: none;
}

.password-input-block .form-input::placeholder {
  color: var(--secondary-gray);
  letter-spacing: normal;
}

.password-input-block:focus-within .form-input::placeholder {
  color: transparent;
}

.password-input-block {
  position: relative;
}

.password-input-block .form-input {
  color: transparent;
}

.password-input-mask {
  position: absolute;
  pointer-events: none;
  top: 39.5px;
  left: 13px;
  color: var(--primary-dark-gray);
}

.password-mask-blur {
  position: absolute;
  top: 17px;
  left: 12px;
}

.password-rules-text {
  font-size: 12px;
  line-height: 1.3em;
  position: relative;
}

.login-form .pw-icon {
  position: absolute;
  top: 33px;
}

.pw-icon {
  position: absolute;
  right: 14px;
  top: 43px;
}

.right-padded {
  right: 34px;
}

.form-input {
  caret-color: var(--primary-dark-gray);
}
