.current_data_block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
  height: 88px;
  background: var(--primary-white);
  border: 1px solid var(--secondary-light-gray);
  border-radius: 12px;
  margin-bottom: 12px;
  padding: 12px;
  cursor: pointer;
}

.current_data_block:last-child {
  margin-bottom: 0px;
}

.account_number_container {
  display: flex;
  align-items: flex-start;
}

.account_number_container:hover {
  text-decoration: underline;
  text-decoration-color: var(--secondary-text);
}

.number {
  font-size: 14px;
  line-height: 16px;
  color: var(--secondary-text);
  min-width: 242px;
  resize: none;
  border-style: none;
  text-align: center;
  background-color: transparent;
  margin-right: 14px;
  cursor: pointer;
}

.number:hover {
  outline: none;
  text-decoration: underline;
}

@media screen and (max-width: 375px) {
  .current_data_block {
    font-size: 14px;
    line-height: 16px;
    flex-direction: column;
    height: 100%;
  }

  .number {
    font-size: 12px;
    line-height: 14px;
    margin-left: -19px;
  }
}