.container {
  width: 100%;
  height: calc(100% - 70px);
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.first_block {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  padding: 0px 400px;
}

.contentBlock {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  background-color: var(--primary-background);
}

@media screen and (max-width: 1800px) {
  .first_block {
    padding: 0px 300px;
  }
}
@media screen and (max-width: 1600px) {
  .first_block {
    padding: 0px 200px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .wrapper {
    row-gap: 40px;
  }

  .first_block {
    padding: 0px 44px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .wrapper {
    row-gap: 40px;
  }

  .first_block {
    padding: 0px 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapper {
    row-gap: 40px;
  }

  .first_block {
    padding: 0px 36px;
  }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .wrapper {
    row-gap: 40px;
  }

  .first_block {
    padding: 0px 12px;
  }
}