.sidebar-wrapper {
  padding: 0 45px;
  box-sizing: border-box;
  width: 25%;
  border-right: 1px solid var(--secondary-light-gray);
  background-color: var(--primary-white);
}

.sidebar-list {
  margin-bottom: 80px;
}

.sidebar-item {
  margin: 20px 0;
}

@media screen and (max-width: 1024px) {
  .sidebar-wrapper {
    width: 288px;
  }
}

@media screen and (max-width: 768px) {
  .sidebar-wrapper {
    width: 45%;
  }

  .sidebar-wrapper_active {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .personal-page-wrapper {
    height: 540px;
  }

  .sidebar-wrapper {
    display: none;
    width: 100%;
    height: 410px;
    padding: 0;
    position: fixed;
    top: 122px;
    z-index: 100;
  }

  .sidebar-item {
    margin: 0;
  }
  
  .sub-menu-sub-nav-wrapper {
    margin-top: 0;
  }

  .sidebar-wrapper_active {
    display: block;
  }
  
}
