@import "../../../../../shared/assets/scss/variables.module.scss";

.current_data_block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
  height: 88px;
  background: $primary_white;
  border: 1px solid $secondary_light_gray;
  border-radius: 12px;
  margin-bottom: 12px;
  padding: 12px;
  cursor: pointer;
  &:last-child {
    margin-bottom: 0px;
  }
  @media screen and (max-width: 375px) {
    font-size: 14px;
    line-height: 16px;
    flex-direction: column;
    height: 100%;
  }
}

.account_number_container {
  display: flex;
  align-items: flex-start;
  &:hover {
    text-decoration: underline;
    text-decoration-color: $secondary_text;
  }
}

.number {
  font-size: 14px;
  line-height: 16px;
  color: $secondary_text;
  min-width: 242px;
  resize: none;
  border-style: none;
  text-align: center;
  background-color: transparent;
  margin-right: 14px;
  cursor: pointer;
  &:hover {
    outline: none;
    text-decoration: underline;
  }
  @media screen and (max-width: 375px) {
    font-size: 12px;
    line-height: 14px;
    margin-left: -19px;
  }
}



