@import "../../shared/assets/scss/variables.scss";

.wrapper {
  display: grid;
  background-color: $secondary_very_light_gray;
  padding: 24px 24px;
  @media screen and (max-width: 375px) {
    padding: 16px 16px;
  }
}

.wrapper_with_adv {
  grid-template-columns: 1fr 368px;
  column-gap: 24px;
  grid-template-rows: 100%;
}

.wrapper_without_adv {
  grid-template-columns: 100%;
  column-gap: 24px;
  grid-template-rows: 100%;
}

.wrapper_ext_with_adv {
  grid-template-columns: 1fr 368px;
  column-gap: 24px;
  grid-template-rows: 100%;
}

.wrapper_ext_without_adv {
  grid-template-columns: 100%;
  column-gap: 24px;
  grid-template-rows: 100%;
}

.wrapper_products, .wrapper_products_ext {
  height: 93.3%;
  grid-template-columns: 100%;
  column-gap: 24px;
  grid-template-rows: 24px 59px 1fr;
  @media screen and (max-width: 1024px) {
    grid-template-rows: 24px 59px 1fr;
  }
  @media screen and (max-width: 768px) {
    grid-template-rows: 24px 59px 1fr;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper_with_adv, .wrapper_ext_with_adv {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 598px;
    row-gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper_with_adv, .wrapper_ext_with_adv {
    grid-template-rows: 1fr 598px;
  }
}

@media screen and (max-width: 375px) {
  .wrapper_ext_with_adv, .wrapper_with_adv {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 570px;
    row-gap: 20px;
  }

  .wrapper_products {
    grid-template-columns: 100%;
    grid-template-rows: 24px 59px 1fr;
    height: 90.6%;
  }
  
  .wrapper_products_ext {
    grid-template-columns: 100%;
    grid-template-rows: 24px 59px 1fr;
    height: 100%;
  }
}