@import "../../../../shared/assets/scss/variables.module.scss";

.wrapper {
  width: 270px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 8px;
  padding: 12px 0px 12px 12px;
  &:hover {
    background-color: $secondary_hover_gray;
  };
  @media screen and (max-width: 375px)  {
    width: 100%;
  };
}

.title {
  width: fit-content;
  display: flex;
  align-items: center;
  font-weight: 600;
  color: $primary_text;
  &:hover {
    cursor: pointer;
  };
}

.context {
  display: flex;
  align-items: center;
  font-weight: 400;
  color: $primary_text_2;
}