.wrapper {
  width: 100%;
  height: 796px;
  display: flex;
}

.icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
}

.browser {
  width: 576px;
  height: 432px;
  display: none;
  transition: 0.1s;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    height: 581px;
    flex-direction: column;
  }  

  .icon {
    height: 238px;
    display: none;
  }

  .browser {
    width: 351px;
    height: 287px;
  }

}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .wrapper {
    height: 581px;
    flex-direction: column;
  }  

  .icon {
    height: 238px;
    display: none;
  }

  .browser {
    width: 351px;
    height: 287px;
    display: block;
  }

}