@import "../../../../shared/assets/scss/variables.module.scss";

.container_image {
  position: relative;
  width: 84px;
  height: 84px;
  margin-right: 20px;
  border: 1px solid $primary_user_avatar;
  border-radius: 12px;
}

.container_image_inner_block {
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 30px;
  text-align: center;
  border-radius: 11px;
  background-color: $primary_shadow;
}

.container_image:hover .container_image_inner_block {
  display: block;
}