@import url("../../assets/theme/palette.css");

.form-input {
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  line-height: 1.5em;
  color: var(--primary-dark-gray);
  border: 1px solid var(--secondary-gray);
  border-radius: 2px;
  caret-color: var(--primary-dark-gray);
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-moz-placeholder,
input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.2s ease;
}

input:focus::-webkit-input-placeholder,
input:focus::-moz-placeholder,
input:focus:-moz-placeholder,
input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.form-input:focus {
  outline: 1.5px solid var(--secondary-gray);
}

input:focus::placeholder {
  color: transparent;
}

.form-input-label {
  visibility: hidden;
  padding-bottom: 8px;
}

.form-input-wrapper {
  width: 100%;
}

.form-input-wrapper:focus-within label {
  visibility: visible;
  font-size: 14px;
  line-height: 1.4em;
}

.form-input-label-wrapper {
  height: 24px;
  display: flex;
  align-items: flex-start;
}

.form-input-label-active {
  font-size: 14px;
  line-height: 1.4em;
  color: var(--primary-dark-gray);
}

.below-input-block {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.input-error {
  outline: none !important;
  border: 1px solid var(--primary-red);
  padding-right: 30px;
  background-image: url("../../uikit/static/triangleWarning.svg");
  background-repeat: no-repeat;
  background-position: 97%;
}

.input-below-label {
  font-size: 12px;
  line-height: 1.3em;
}
