.wrapper {
  position: relative;
}

.container {
  padding: 24px 0 0 24px;
}

.title {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 20px;
  color: var(--primary-dark-gray)
}

@media screen and (max-width: 1280px) {
  .container {
    width: 75%;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 60%;
  }
}

@media screen and (max-width: 375px) {
  .container {
    padding: 16px 16px 196px;
    width: 100%;
  }
}
