@import "../../shared/assets/scss/variables.module.scss";

.wrapper, .wrapper_without_auth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 24px 15px 12px;
  background: $primary_white;
  border-bottom: 1px solid $primary_border_2;
  height: 70px;
  z-index: 4;
  
}

.wrapper {
  @media screen and (max-width: 1024px) {
    position: sticky;
    top: 0px;
    z-index: 2;
  }
}

.wrapper_without_auth {
  position: fixed;
  top: 0px;
  @media screen and (max-width: 440px) {
    height: 80px;
  }
}

.logo {
  display: flex;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-left: 26px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
  height: 40px;
  background: $secondary_button_active;
  border-radius: 12px;
  color: $primary_white;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.link:hover {
  background: $primary_button_default;
}

.icon {
  margin-right: 4px;
  fill: $secondary_text;
  @media screen and (max-width: 440px) {
    padding-left: 6px;
  }
}

.btn_wrapper {
  display: flex;
  gap: 16px;
  @media screen and (max-width: 440px) {
    display: none;
  }
}

.login_btn {
  width: 92px;
  padding: 9px;
}

.contact_us_btn {
  width: 145px;
  position: relative;
}

.greyBtn {
  background-color: $secondary_hover_gray;
  color: $secondary_text;
  font-size: 16px;
  border: 2px solid $secondary_hover_gray;
  width: 145px;
}

.greyBtn:hover .icon {
  fill: $secondary_button_active;
}

@media screen and (max-width: 1024px) {
  .logoBlock {
    display: flex;
    margin: 0;
    column-gap: 10px;
    padding-left: 0;
  }
}



