.account_name_wrapper {
  width: 320px;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 4px;
  background-color: var(--secondary-hover-gray);
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid var(--secondary-light-blue);
}

.account_name__title {
  line-height: 14px;
  font-weight: 500;
  font-size: 12px;
  color: var(--primary-text)
}

.account_name__input {
  line-height: 16px;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  border: none;
  background-color: var(--secondary-hover-gray);
  outline: none;
  color: var(--primary-text);
}