.wrapper {
  width: 368px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-white);
  border-radius: 12px;
  padding: 24px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  line-height: 18.75px;
  margin-bottom: 16px;
  color: var(--primary-text-2);
  text-align: center;
}

.description {
  font-size: 14px;
  font-weight: 600;
  line-height: 16.41px;
  margin: 24px 0;
  color: var(--primary-text-2);
  text-align: center;
}

.wrapper_button {
  display: flex;
  gap: 16px;
}

.wrapper_button button {
  width: 152px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  white-space: nowrap;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.55);
  z-index: 15;
}