.popup {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 15;
}

.wrapper {
  width: 368px;
  height: 219px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-white);
  border: 1px solid var( --secondary-light-gray);
  border-radius: 8px;
  box-sizing: border-box;
}

.title {
  font-size: 16px;
  font-weight: 600;
}

.description {
  font-size: 14px;
}

.confetti {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url("../../../../uikit_v2/static/confity.png");
  background-repeat: repeat-x;
  background-position: bottom;
}

@media screen and (max-width: 375px) {
  .wrapper {
     height: 220px;
    width: 303px;
    padding: 20px 0 0 ;
  }

  .description {
    padding: 0 20px;
  }
} 