@import "../../../shared/assets/scss/variables.module.scss";
@import "../../../shared/assets/scss/mixins.scss";

.wrapper {
  @include flexContainer(368px, 394px);
  flex-direction: column;
  margin: 0 auto;
  padding: 24px;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 20px;
  color: $secondary_middle_gray;
}

.inputs_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
} 

.icon {
  margin-left: 8px;
  position: relative;
  top: 48px;
  z-index: 1;
}

.button {
  width: 320px;
  font-size: 16px;
}