.title {
  padding: 0px 40px;
  font-weight: 700;
  font-size: 44px;
  line-height: 52px;
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    font-size: 36px;
    line-height: 42px;
    padding: 0px 24px; 
  }
  @media screen and (max-width: 767px) {
    padding: 0px 20px;
    font-size: 24px;
    line-height: 28px;
  }
}
