@import "../../../../../shared/assets/scss/variables.module.scss";
@import "../../../../../shared/assets/scss/mixins.scss";

.wrapper {
  @include flexContainer(368px);
  flex-direction: column;
  align-items: center;
  background-color: $primary_white;
  border-radius: 12px;
  padding: 24px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  line-height: 18.75px;
  margin-bottom: 16px;
  color: $primary_text_2;
  text-align: center;
}

.description {
  font-size: 14px;
  font-weight: 600;
  line-height: 16.41px;
  margin: 24px 0;
  color: $primary_text_2;
  text-align: center;
}

.wrapper_button {
  display: flex;
  gap: 16px;
}

.wrapper_button button {
  width: 152px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  white-space: nowrap;
}