@import "../../shared/assets/scss/variables.module.scss";
@import "../../shared/assets/scss/mixins.scss";

.wrapper {
  @include flexContainer(368px, 258px);
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 23px;
  background-color: $primary_white;
}

.title {
  display: flex;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 20px;
  color: $secondary_middle_gray;
  font-style: normal;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}

.icon_pic {
  margin: 0 auto;
}

.button_container {
  @include flexContainer(100%);
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  width: 152px;
  font-size: 16px;
}