@import url("../../assets/theme/palette.css");

.button {
  display: flex;
  align-items: center;
  width: fit-content;
}

.arrow {
  margin-right: 10px;
}

.arrow {
  fill: #0b6cff;
}

.title {
  font-size: 16px;
  line-height: 19px;
  color: #0b6cff;
}
