.products_wrap {
  height: 100%;
  position: relative;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.list_background {
  background-color: var(--primary-white);
}

.products {
  margin-top: 24px;
  height: 93%;
  overflow-y: hidden;
}

.link_wrap {
  width: calc(100% - 55px);
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: var(--primary-white);
  position: absolute;
  bottom: 24px;
  left: 23px;
}

.link_wrap_without_adv {
  width: 96%;
}

.open_link {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-button-disabled);
  border: 1px solid var(--primary-input-hover);
  border-radius: 12px;
}

@media screen and (max-width: 1440px) {
  .link_wrap {
    bottom: 23px;
  }

  .products {
    height: 90.5%;
  }
}

@media screen and (max-width: 1280px) {
  .link_wrap {
    bottom: 21px;
  }

  .products {
    height: 90.5%;
  }
}

@media screen and (max-width: 1024px) {
  .products {
    height: 90.5%;
  }

  .link_wrap {
    width: calc(100% - 47px);
  }
}

@media screen and (max-width: 375px) {
  .link_wrap {
    width: calc(100% - 24px);
    left: 12px;
  }
}
