.wrapper {
  width: 428px;
  min-height: 272px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 16px;
  background-color: var(--primary-white);
  border: 1px solid var( --secondary-light-gray);
  border-radius: 8px;
}

.title {
  font-weight: 600;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.inform {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.55);
  z-index: 15;
}

@media screen and (max-width: 375px) {
  .wrapper {
    width: 371px;
    padding: 20px;
  }
}