.wrapper {
    width: 428px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-white);
    border: 1px solid var( --secondary-light-gray);
    border-radius: 8px;
}

.title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--primary-dark-gray)
}

.input_block {
  width: 380px;
}

.button_block {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button_block button {
    width: 170px;
    height: 40px;
    border-radius: 8px;
    line-height: 19px;
    font-weight: 400;
    color: var(--primary-white);
    background-color: var(--primary);
  }

  .button_block .button_close {
    color: var(--primary-dark-gray);
    background-color: var(--secondary-hover-gray);
    margin-left: 24px;
  }
