.container {
  display: flex;
  align-items: center;
}

.isCard {
  width: 320px;
  padding-left: 12px;
  border: 1px solid var(--primary-border-2);
  border-radius: 12px;
}

.container:hover {
  cursor: pointer;
}

.input {
  outline: none;
  width: 16px;
  height: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../../uikit_v2/static/not-checked-radio-btn.svg);
  background-repeat: no-repeat;
}

.input:checked {
  background-position-x: -4px;
  background-position-y: -4px;
  background-image: url(../../uikit_v2/static/checked-radio-btn.svg);
  background-repeat: no-repeat;
}

.span {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-left: 12px;
  color: var(--primary-text-2);
}
