.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  width: 360px;
  border: 1px solid var(--primary-border-2);
  border-radius: 12px;
  margin: 0 210px;
  padding: 20px;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: var(--primary-text-2);
  align-self: flex-start;
}

.subtitle {
  font-size: 14px;
  line-height: 16px;
  color: var(--secondary-text);
  text-align: center;
  padding-top: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.button {
  width: 320px;
  font-size: 16px;
  line-height: 19px;
}

.button_secondary {
  background-color: var(--primary-input-default);
  font-size: 16px;
  line-height: 19px;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.55);
  z-index: 15;
}

@media screen and (max-width: 1439px) and (min-width: 1280px) {
  .wrapper {
    margin: 0 130px;
  }
}

@media screen and (max-width: 1279px) and (min-width: 1000px) {
  .wrapper {
    margin: 0 76px;
  }
}