.wrapper {
  width: 100%;
  height: 732px;
  display: grid;
  grid-template-rows: 64px 64px 265px 52px;
  grid-template-columns: 100%;
  position: absolute;
  top: -100vh;
  left: 0px;
  background-color: var(--primary-white);
  transition: .3s;
  z-index: 2;
}

.active_mobile_menu {
  top: 80px;
}

.sidebar_list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 1px solid var(--primary-gray);
}

.sidebar_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar_item_main_page {
  height: 60px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 18px;
  border-bottom: 1px solid var(--primary-gray);
}

.user_avatar {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  border: 1px solid var(--primary-user-avatar);
  border-radius: 12px;
}

.user_link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--primary-sidebar);
  opacity: 0.6;
  margin-right: auto;
}

.user_name {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: var(--primary-text);
}

.user_name p:first-child {
  margin-bottom: 6px;
}

.open_link {
  align-self: center;
  margin: 0px 18px;
}

.logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 28px;
}

.sidebar_list_products {
  grid-template-rows: 64px 64px 312px 52px;
}

.product_pic {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 12px;
}

.icon {
  stroke: var(--primary-text);
  margin: 16.5px 14px;
}