.no-transactions-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 183px;
  font-size: 16px;
}

.no-transactions-image {
  margin: 12px auto 20px;
}

.no-transactions-title {
  line-height: 16px;
}

.no-transactions-description {
  padding-top: 8px;
  line-height: 24px;
  text-align: center;
}

.transactions-list {
  position: relative;
  padding: 24px 40px;
  box-sizing: border-box;
  width: 660px;
}

.transactions-list-show-all-btn {
  position: absolute;
  top: -46px;
  right: 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #4054b2;
}

td {
  padding: 8px 0;
}

.transaction-item {
  font-size: 12px;
  line-height: 16px;
}

.transaction-date {
  width: 23%;
}

.transaction-date-time {
  margin-top: 4px;
  margin-left: 18px;
  color: var(--secondary-gray);
}

.transaction-icon-wrapper {
  width: 15%;
}

.transaction-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--primary-yellow);
  width: 56px;
  height: 56px;
}

.transaction-info {
  width: 45%;
}

.transaction-info-type {
  margin-bottom: 4px;
}

.transaction-info-display-number {
  margin-right: 16px;
  color: var(--secondary-gray);
}

.transaction-info-recipient {
  color: var(--secondary-gray);
}

.transaction-amount {
  width: 350px;
  color: var(--primary-red);
}
.transaction-amount-red {
  color: var(--primary-red);
}
.transaction-amount-green {
  color: var(--secondary-green);
}

.transaction-sum {
  font-weight: 700;
  margin-right: 4px;
}
