@import "../../shared/assets/scss/variables.module.scss";
@import "../../shared/assets/scss/mixins.scss";

.wrapper {
  @include flexContainer(360px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  border: 1px solid $primary_border_2;
  border-radius: 12px;
  margin: 0 210px;
  padding: 20px;
  @media screen and (max-width: 1439px) and (min-width: 1280px) {
    margin: 0 130px;
  }
  @media screen and (max-width: 1279px) and (min-width: 1000px) {
    margin: 0 76px;
  }
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: $primary_text_2;
  align-self: flex-start;
}

.subtitle {
  font-size: 14px;
  line-height: 16px;
  color: $secondary_text;
  text-align: center;
  padding-top: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.button {
  width: 320px;
  font-size: 16px;
  line-height: 19px;
}

.button_secondary {
  background-color: $primary_input_default;
  font-size: 16px;
  line-height: 19px;
}
