.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  padding: 22px 0px 12px 0px;
  border: 1px solid var(--primary-border-2);
  border-radius: 12px;
}

.icon {
  width: 100px;
  height: 100px;
  margin-bottom: 26px;
}

.description {
  font-size: 14px;
  line-height: 16px;
  color: var(--primary-text-2);
}
