.avatar-scale-wrapper {
  position: absolute;
  width: 298px;
  bottom: 0;
}

.avatar-scale-icon-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 16px;
}

.avatar-scale-range-input {
  width: 100%;
  margin-bottom: 16px;
}

input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 300px;
  height: 4px;
  background: var(--secondary-light-yellow);
  border: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--primary-yellow);
  margin-top: -8px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--secondary-light-yellow);
}
