.wrapper {
  width: 100%;
  height: 796px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}

.description, .description_mobile {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 100px;
  column-gap: 12px;
}

.description_mobile {
  justify-content: space-between;
}

.info {
  width: 428px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  z-index: 2;
}

.icon {
  width: 702px;
  height: 499px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2px;
  right: -83px;
}

.additional {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  align-items: center;
  z-index: 1;
}

.animation_container {
  width: 500px;
  height: 500px;
  position: relative;
  z-index: 3;
}

.video, .video_mobile {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  transition: 0.1s;
}

.video_mobile {
  width: 200px;
  height: 200px;
  display: none;
  position: static;
} 

.browser {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  transition: 0.1s;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .wrapper {
    height: 768px;
  }

  .animation_container {
    width: 360px;
    height: 360px;
  }

  .description {
    height: auto;
    flex-direction: column;
    row-gap: 12px;
  }

  .description_mobile {
    height: auto;
    flex-direction: row;
  }

  .info {
    width: 45%;
    height: 100%;
  }

  .icon {
    right: calc(15% - 702px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .wrapper {
    height: 768px;
  }

  .animation_container {
    width: 360px;
    height: 360px;
  }

  .description {
    height: auto;
    flex-direction: column;
    row-gap: 12px;
  }

  .description_mobile {
    height: auto;
    flex-direction: row;
  }

  .info {
    width: 45%;
    height: 100%;
  }

  .icon {
    right: calc(15% - 702px);
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .wrapper {
    height: 800px;
  }

  .description_mobile {
    height: auto;
  }

  .description {
    height: auto;
    flex-direction: column;
    row-gap: 12px;
  }

  .info {
    width: 100%;
    height: 45%;
  }

  .icon {
    right: calc(15% - 702px);
  }

  .animation_container {
    display: none;
  }

  .video_mobile {
    display: block;
    align-self: flex-end;
    margin-right: 28px;
    z-index: 2;
  }
}
