.icon {
  display: block;
  width: 40px;
  height: 40px;
  fill: var(--secondary-middle-gray);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link:hover .container {
  margin: -4px;
}

.link,
.btn {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75px;
  transition: background 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  background-color: var(--secondary-hover-gray);
}

.link:hover {
  background-color: var(--secondary-hover-gray);
  border-top: 4px solid var(--primary);
  box-sizing: border-box;
}

.nameLink {
  width: 75px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.nameLink,
.btn {
  font-size: 12px;
  line-height: 14px;
  color: var(--secondary-middle-gray);
}
