.spinner {
  border: 16px solid var(--secondary-light-gray);
  border-radius: 50%;
  border-top: 16px solid var(--secondary-light-blue);
  width: 139px;
  height: 139px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -70px;
  margin-left: -70px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}