@import url("../../../assets/theme/palette.css");

.currency-block {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px;
}

.currency-block-names {
  flex-direction: column;
  display: flex;
  gap: 8px;
  align-items: center;
}

.column {
  flex-direction: column;
  align-items: flex-start;
}

.currency-name-text {
  color: var(--secondary-gray);
}