.wrapper {
  background-color: var(--primary-background);
  overflow-y: hidden;
}

.block {
  margin: auto;
  max-width: 1440px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 94px 24px 24px 0;
  column-gap: 24px;
  background-color: var(--secondary-background);
}

@media screen and (max-width: 1439px) and (min-width: 1000px) {
  .block {
    column-gap: 24px;
    padding: 94px 20px 20px 0;
  }
}

@media screen and (max-width: 1000px) {
  .block {
    column-gap: 0;
    padding: 160px 0 0;
  }
}