.secretQuestion-form > input {
  color: var(--primary-dark-gray) !important;
}

.secretQuestion-form .form-button {
  margin-top: 24px;
}

.secretQuestion-label {
  display: none;
}

.secretQuestion-label-active {
  display: block;
  font-size: 14px;
  margin-bottom: -8px;
  line-height: 1.4em;
  color: var(--primary-dark-gray);
}

.secret-question-button-block {
  margin-top: 20px;
}