.password-change-form-icon {
  display: block;
  margin: 0 auto 32px;
}

.password-change-form-title {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 8px;
}

.password-change-form-attempts {
  margin: 32px 0 0;
}

.secret-question-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  width: 330px;
  font-size: 14px;
  line-height: 14px;
  margin-top: 32px;
}

.secret-question-inputs-wrapper {
  padding: 15px 0 0;
}

.secret-question-buttons-button {
  padding: 17px 48px;
}

.secret-question-buttons-button.secondary {
  background-color: var(--secondary-yellow);
}

.secret-question-buttons-button.primary {
  background-color: var(--primary-yellow);
  color: var(--secondary-gray);
}

.secret-question-wrong-attempt-errors {
  display: block;
  font-size: 12px;
  line-height: 1.3em;
  text-align: end;
  padding-right: 10px;
  text-align: start;
  color: var(--primary-red);
}
