.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0;
}

.description {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 140%;
}

.link {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 150px;
    border-radius: 8px;
    background-color: var( --primary);
    color: var(--primary-white);
    max-width: 380px;
    white-space: nowrap;
  }

  @media screen and (max-width: 375px) {
    .link {
        padding: 10px 86px;
        font-weight: 400;
        max-width: 260px;
        white-space: nowrap;
    }
  } 