@import url("../../assets/theme/palette.css");

.back-button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 20px 20px 0;
}

.back-button-text {
  color: var(--primary-dark-gray);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  margin-left: 15px;
}

.back-button-img {
  max-width: 100%;
}
