@import "../../shared//assets/scss/variables.module.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  padding: 22px 0px 12px 0px;
  border: 1px solid $primary_border_2;
  border-radius: 12px;
}

.icon {
  width: 100px;
  height: 100px;
  margin-bottom: 26px;
}

.description {
  font-size: 14px;
  line-height: 16px;
  color: $primary_text_2;
}