.wrapper {
  width: 1120px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 64px;
}

.block_top {
  width: 100%;
  padding: 40px 60px;
  display: flex;
  justify-content: center;
  column-gap: 40px;
  background-color: var(--primary-text);
  border-radius: 12px;
}

.block_top_left,
.block_top_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.top_left_title, .top_right_title {
  text-align: center;
  font-weight: 700;
  font-size: 44px;
  line-height: 52px;
  color: var(--primary-white);
}

.top_left_title {
  padding: 0 70px;
}

.top_left_description, .top_right_description {
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  color: var(--primary-white);
}

.container {
  width: 1120px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.block_left,
.block_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  background-color: var(--primary-white);
  border-radius: 12px;
  padding: 20px 20px;
}

.block_right {
  row-gap: 4px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 20px 20px 0;
}

.left_title,
.right_title {
  font-weight: 700;
  font-size: 44px;
  line-height: 52px;
  color:var(--primary-text);
}

.left_description {
  font-size: 16px;
  line-height: 140%;
  color: var(--secondary-text);
}

.right_description {
  font-size: 16px;
  line-height: 140%;
  color: var(--secondary-text);
}

.blockVideo {
  width: 510px;
  height: 401px;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.windTurbinesVideo {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

  @media screen and (max-width: 1024px) {
    .wrapper, .container {
      width: 944px;
    }
  
    .top_left_title {
      padding: 0 50px;
    }
  
    .top_left_description {
      padding: 0 16px;
    }
  
    .textWrapper {
      padding: 4px 4px 0;
    }
  
    .blockVideo {
      width: 422px;
      height: 401px;
    }
  
    .block_right {
      row-gap: 20px;
    }
  }
  
  @media screen and (max-width: 900px) {
    .wrapper {
      width: 688px;
    }
  
    .container {
      flex-direction: column;
      width: 688px;
    }
  
    .top_left_title {
      padding: 0 21px;
    }
  
    .top_left_description {
      padding: 0;
    }
  
    .top_left_title, .top_right_title, .right_title, .left_title {
      font-size: 36px;
      line-height: 42px;
    }
  
    .blockVideo {
      width: 648px;
      height: 436px;
    }
  
    .block_left {
      row-gap: 63px;
    }
  
    .block_right {
      height: 689px;
    }
  }
  
  @media screen and (min-width: 360px) and (max-width: 767px) {
    .wrapper, .container {
      width: 343px;
    }
  
    .block_top {
      flex-direction: column;
      row-gap: 20px;
      padding: 20px 40px;
    }
  
    .top_left_title, .top_right_title, .left_title, .right_title {
      font-size: 24px;
      line-height: 28px;
    }  
  
    .top_left_description, .left_description, .right_description {
      font-size: 14px;
      line-height: 16px;
    }
  
    .top_right_description {
      font-size: 14px;
      line-height: 19px;
    }
  
    .top_left_title {
      padding: 0 62px;
    }
  
    .top_left_description {
      padding: 0 10px;
    }
  
    .block_left {
      padding: 30px 15px;
      row-gap: 58px;
    }
  
    .block_right {
      height: 480px;
      row-gap: 8px;
      padding: 15px;
    }
  
    .textWrapper {
      padding: 16px 9px 0;
    }
  
    .blockVideo {
      width: 313px;
      height: 210px;
      border-radius: 5px;
    }
    
    .windTurbinesVideo {
      width: 400px;
      height: 210px;
    }
    }
  