.wrapper {
  position: relative;
  background-image: url(../../../../uikit_v2/static/introPage-bubbles.svg);
  background-repeat: no-repeat;
  background-position: 75% 55%;
  width: 1120px;
  height: 799px;
  margin: auto;
  display: flex;
  flex-direction: column;
  column-gap: 192px;
  padding-top: 40px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 192px;
}

.block_left {
  width: 428px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding-top: 35px;
}

.left_title {
  font-weight: 700;
  font-size: 44px;
  line-height: 52px;
  color: var(--primary-dark-gray);
}

.left_description {
  font-size: 16px;
  line-height: 22px;
  color: var(--secondary-text);
}

.account_pic {
  background-image: url(../../../../uikit_v2/static/introPage-accountPic.svg);
  background-size: cover;
  width: 368px;
  height: 226px;
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 2;
}

.blockVideo{
  width: 500px;
  height: 450px;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  z-index: 1;
  border: 7px solid var(--primary-white);
}

.workingTeamVideo {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.login_btn {
  font-size: 16px;
}

@media screen and (max-width: 1024px) {
  .wrapper{
    max-width: 1024px;
    background-position: 103% 83%;
  }

  .container {
    column-gap: 151px;
    padding-left: 40px;
  }

  .block_left {
    width: 349px;
  }

  .blockVideo {
    width: 484px;
    height: 500px;
  }

  .account_pic {
    top: 45%;
    left: 37%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapper{
    width: 768px;
    background-position: 333% 78%;
  }

  .container {
    column-gap: 44px;
  }

  .left_title {
    font-size: 36px;
    line-height: 42px;
  }

  .blockVideo {
    width: 335px;
    height: 360px;
  }

  .workingTeamVideo {
    width: 850px;
    height: 700px;
  }
  
  .account_pic {
    top: 44%;
    left: 41%;
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .wrapper {
    background-image: none;
    width: 375px;
  }
  .container {
    flex-direction: column;
  }
  .left_title {
    font-size: 24px;
    line-height: 28px;
  }
  .left_description {
    font-size: 14px;
    line-height: 16px;
  }
  .blockVideo {
    width: 200px;
    height: 200px;
    margin-left: 135px;
  }
  .workingTeamVideo{
    width: 600px;
    height: 500px;
  }
  .account_pic {
    background-image: url(../../../../uikit_v2/static/accountPicMob.svg);
    width: 320px;
    height: 245px;
    top: 65%;
    left: 1%
  }


}
