@import "../../shared/assets/scss/variables.module.scss";
@import "../../shared/assets/scss/mixins.scss";

.wrapper {
  @include flexContainer(428px);
  min-height: 272px;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 16px;
  background-color: $primary_white;
  border: 1px solid $secondary_light_gray;
  border-radius: 8px;
  @media screen and (max-width: 375px) {
    width: 371px;
    padding: 20px;
  }
}

.title {
  @include flexContainer(100%, 100%);
  font-weight: 600;
  justify-content: center;
}

.inform {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}