.currency_title {
  line-height: 18.75px;
  font-weight: 600;
  margin: 24px 0 16px 0;
  color: var(--primary-dark-gray)
}

.currency_block {
  width: 320px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-light-gray);
  border-radius: 8px;
}

.currency_block__input {
  width: 80px;
  height: 32px;
  border-radius: 8px;
  border: none;
  background-color: var(--secondary-light-gray);
}

.currency_block__input:checked {
  border: none;
  border-radius: 8px;
  background-color: var(--primary-white);
}
  
.currency_block__input:checked::before {
  content: "";
  transform: scale(1);
  background-color: var(--primary-white);
}

.currency_block__span {
  position: absolute;
  left: 8px;
}

.currency_block__icon {
  width: 24px;
  height: 18px;
  border: 1px solid var(--secondary-light-gray);
}