@import "../../../../../shared/assets/scss/variables.module.scss";

.container {
  display: flex;
  align-items: center;
  position: relative;
}

.account_info {
  padding-top: 40px;
  position: relative;
  @media screen and (max-width: 375px) {
    padding-top: 15px;
    font-size: 12px;
    line-height: 14px;
    margin: 0 0 34px;
  }
}

.title {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  padding: 6px 12px;
  justify-content: end;
  color: $primary_text_2; 
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 18px;
  background: $primary_input_default;
  border: 1px solid $primary_input_hover;
  border-radius: 8px;
  @media screen and (max-width: 375px) {
    top: 50px;
    right: 167px;
    margin-bottom: 0;
  }
}

.copied_message {
  position: absolute;
  top: 3px;
  right: 0px;
  @media screen and (max-width: 375px) {
    top: 53px;
    right: 235px;
  }
}

.account_number_container {
  display: flex;
  align-items: flex-start;
}

.account_number_container:hover {
  text-decoration: underline;
  text-decoration-color: $secondary_text;
}

.number {
  font-size: 14px;
  line-height: 16px;
  color: $secondary_text;
  min-width: 242px;
  resize: none;
  border-style: none;
  text-align: center;
  background-color: transparent;
  margin-right: 14px;
  cursor: pointer;
  @media screen and (max-width: 375px) {
    font-size: 12px;
    line-height: 14px;
    margin-left: -19px;
  }
}

.icon_container {
  padding: 8px 0 8px 25px;
  border-left: 1px solid $primary_border;
  margin-bottom: 10px;
}


@media screen and (max-width: 375px) {
  .copy_icon {
    margin-top: -2px;
    margin-left: -19px;
  }
}