.current_block {
    max-width: 100%;
    max-height: 100%;
    margin: 20px 24px;
}

.current_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: flex-end;
    color: var(--primary-dark-gray);
    margin-bottom: 16px;
}

.current_data_block {
  max-width: 100%;
  height: 108px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: var(--primary-white);
  border: 1px solid var(--secondary-light-gray);
  border-radius: 8px;
  margin-top: 8px;
}

@media screen and (max-width: 768px) {
  .current_title {
    margin-left: 20px;;
  }
  .current_data_block{
    height: 168px;
  }
}
@media screen and (max-width: 375px) {
  .current_block {
    margin: 20px 16px;
    max-width: 343px;
}
}