.account_name_wrapper {
  width: 320px;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 4px;
  background-color: var(--secondary-hover-gray);
  padding: 4px 8px;
  border-radius: 8px;
  position: relative;
}

.account_name__title {
  line-height: 18.75px;
  font-weight: 600;
  font-size: 14px;
  color: var(--primary-dark-gray);
  height: 19px;
  width: 304px;
  overflow: hidden;
}

.account_name__input_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.account_name__input {
  font-size: 14px;
  width: 94%;
  border: none;
  background-color: var(--secondary-hover-gray);
  color: var(--secondary-middle-gray);
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.account_name_counter {
  margin: 8px 0 0 8px;
  font-size: 12px;
  color: var(--secondary-gray);
}

.account_name_counter_hidden {
  opacity: 0;
  cursor: context-menu;
}

.account_name__clear {
  width: 10.99px;
  height: 10.99px;
  cursor: pointer;
}