@import "../../../shared/assets/scss/variables.module.scss";
@import "../../../shared/assets/scss/mixins.scss";

.layout {
  width: 100%;
  box-sizing: border-box;
  background-color: $secondary_hover_gray;
  @media screen and (max-width: 375px) {
    padding: 0px 0px;
    background-color: $primary_white;
  }
}

.accounts {
  padding: 0px 24px;
  background: $secondary_background; 
  @media screen and (max-width: 375px) {
    padding: 0px;
  }
}

.main_page_accounts {
  padding: 0px 8px 0px 0px;
}

.open_product_link {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 11px;
  background: $secondary_button_disabled;
  border: 1px solid $primary_input_hover;
  border-radius: 12px;
  color: $secondary_text;
  font-size: 16px;
  line-height: 19px;
  &:hover {
    color: $primary_button_default;
    background: $secondary_button_default;
    border-color: $primary_button_default;
  }
}

.empty_space {
  width: 100%;
  height: 52px;
}

.title_block {
  @include flexContainer(initial, 40px);
  max-width: 100%;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 24px;
}

.title_name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: $primary_dark_gray;
}

.dropdown {
  display: inline-block;
  position: relative;
  width: 175px;
  height: 40px;
  z-index: 1;
  @media screen and (max-width: 375px) {
    width: 136px;
  }
}

.dropdown_button {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.dropdown_options .dropdown_link {
  @include flexContainer(175px, 51px);
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  @media screen and (max-width: 375px) {
    width: 136px;
  }
}

.dropdown_options {
  background-color: $primary_gray;
  border: solid 1px $secondary_hover_gray;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  overflow: auto;
}

.dropdown_link {
  &:hover {
  background-color: $primary_gray;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  }
}

@media screen and (max-width: 375px) {
  .layout_prod_mobile {
    padding: 0px 12px;
  }

  .wrapper {
    padding: 0px;
  }
}
