.wrapper {
  width: 100%;
  height: 92px;
  padding: 0px 24px 0px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.withBackButton {
  justify-content: end;
}

.steps_container {
  width: 70%;
  height: 68px;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  position: relative;
}

.progress_line {
  position: absolute;
  top: calc(100% - 52px);
  left: 79px;
  width: 87%;
  height: 2px;
  background-color: var(--primary-border-2);
  z-index: 1;
}

.steps_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.step_button, 
.step_button_previous,
.step_button_nextStep, 
.step_button_next {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step_button_previous {
  width: 36px;
  height: 36px;
  border-radius: 12px;
  background-color: var(--secondary-light-blue);
}

.step_button_nextStep {
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  border: solid 1px var(--secondary-light-blue);
  border-radius: 12px;
  background-color: var(--secondary-very-light-gray);
}

.step_button_next {
  width: 36px;
  height: 36px;
  border-radius: 12px;
  background-color: var(--secondary-hover-gray);
}

.step_number_previous {
  color: var(--primary-white);
  font-weight: 600;
  font-size: 16px;
}

.step_number_nextStep,
.step_number_next  {
  color: var(--secondary-light-blue);
  font-weight: 600;
  font-size: 16px;
}

.step_name {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: var(--secondary-middle-gray);
}

.cross_icon {
    margin-top: 36px;
    cursor: pointer;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.55);
  z-index: 15;
}

@media screen and (max-width: 1440px) {
  .progress_line {
    width: 83%;
  } 
}
@media screen and (max-width: 1280px) {
  .progress_line {
    width: 81%;
  } 
}
  
@media screen and (max-width: 1024px) {
  .progress_line {
    width: 78%;
  }
}
  
@media screen and (max-width: 768px) {
  .progress_line {
    width: 75%;
    left: 60px;
  }
}