.card-list-wrapper {
  display: flex;
  justify-content: center;
  padding: 32px;
}

.card-list-content-wrapper {
  display: flex;
  transition: translate;
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.slider-window {
  width: 284px;
  height: 172px;
  margin: 0 auto;
  overflow: hidden;
}

.slider-btn-wrapper {
  position: relative;
  padding: 32px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 12px 15px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.left-arrow-btn {
  left: 80px;
}

.right-arrow-btn {
  right: 80px;
}

.left-arrow-btn:hover,
.right-arrow-btn:hover {
  background-color: var(--primary-gray);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-list-notification {
  text-align: center;
}

.left-arrow-btn:disabled,
.right-arrow-btn:disabled {
  cursor: not-allowed;
}
