@import url("../../assets/theme/palette.css");

.pictogram-list {
  display: flex;
  gap: 10px;
}

.pictogram-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  margin-right: 13px;
}

.pictogram-img {
  display: inline-block;
  width: 14px;
  height: 20px;
  margin-right: 10px;
}

@media screen and (max-width: 375px) {
  .pictogram-list {
    padding: 16px;
    width: 100%;
  }

  .pictogram-list:last-child {
    border-bottom: none;
  }

  .pictogram-list:hover {
    background-color: rgba(255, 255, 255, 0.118);
  }
}
