.filter-modal-content-title {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 24px;
}

.filter-modal-content-sub-title {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}

.filter-modal-content-apply-btn {
  padding: 20px 41px;
  border-radius: 4px;
  background-color: var(--primary-yellow);
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  margin-right: 25px;
}

.filter-modal-content-apply-btn:disabled {
  background-color: var(--secondary-yellow);
}

.filter-modal-content-reset-btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-decoration: underline;
}
