@import url("../../assets/theme/palette.css");

.backButton {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 20px 20px 0;
}

.backButton_text {
  color: var(--primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0;
  text-align: left;
  margin-left: 11px;
}

.backButton_img {
  max-width: 100%;
}
