.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 24px;
  width: 368px;
  height: 394px;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 20px;
  color: var(--secondary-middle-gray);
}

.inputs_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.icon {
  margin-left: 8px;
  position: relative;
  top: 48px;
  z-index: 1;
}

.button {
  width: 320px;
  font-size: 16px;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.55);
  z-index: 15;
}